<% layout('sidebar.ejs') -%>
<div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12" >
          <table class="table table-striped" >
              <thead style="background-color:#7386D5" >
                <tr>
                  <th scope="col" style="border-color:white;border-top-left-radius:15px;font-family: 'Times New Roman', Times, serif;font-size:1.1em">#</th>
                  <th scope="col"  style="border-color:white;border-top-right-radius:15px;font-family: 'Times New Roman', Times, serif;font-size:1.1em"></th>
                </tr>
              </thead>
              <tbody>
                  
              <tr>
                <td><strong style="font-size: 0.9em;word-spacing: 5px;">Route</strong></td>
                <td> <i class="fa fa-bus" style="color:black" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<strong style="font-size: 0.7em;word-spacing: 5px;">
               <%=  current_bus_details.route.info.replace("TO","-->") %>
                </strong></td>
              </tr>
              <tr>
                <td><strong style="font-size: 0.9em;word-spacing: 5px;">Time</strong></td>
                  <td><i class="fa fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="font-size: 0.7em;word-spacing: 5px;"><%= current_bus_details.timing.startTime %></strong></td>
                </strong></td>
              </tr>
              <tr>
                <td><strong style="font-size: 0.9em;word-spacing: 5px;">DriverName</strong></td>
                  <td><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="font-size: 0.7em;word-spacing: 5px;"><%= current_bus_details.driver.firstName %> <%= current_bus_details.driver.lastName %></strong></td>
                </strong></td>
              </tr>
              <tr>
                <td><strong style="font-size: 0.9em;word-spacing: 5px;">Phone No.</strong></td>
                  <td><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="font-size: 0.7em;word-spacing: 5px;"><%= current_bus_details.driver.userMobile %></strong></td>
                </strong></td>
              </tr>
              <tr>
                <td><strong style="font-size: 0.9em;word-spacing: 5px;">Fare</strong></td>
                  <td><i class="fa fa-rupee-sign"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="font-size: 0.7em;word-spacing: 5px;"><%= current_bus_details.route.fare %></strong></td>
                </strong></td>
              </tr>
              </tbody>
            </table>


    </div>
    <img id="myImg" src="https://images.unsplash.com/photo-1550001433-83f849e1def9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Snow" style="width:100%;max-width:300px;height: 200px;">
  </div>    
 

</div>
     
      
      
        